@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900&family=Playfair+Display:wght@400;500;600;800;900&family=Roboto+Mono:wght@300;400;500;600;700&display=swap');

:root {
    --primary: #12bdff;
    --dark-primary: #1b1f24;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

/* header */
header {
    background-color: var(--dark-primary);
    padding: 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    color:var(--primary) ;
    font-weight: bold ;
    letter-spacing: 2px;
}

ul {
    display: flex;
    list-style: none;
}

ul li {
    margin-right: 20px;
}

ul li a {
    color: #fff;
    text-decoration: none;
}

ul li a:hover {
    color: var(--primary);
}

/* header > button */

header button {
    padding: 10px 20px;
    font-weight: bold;
    background-color: var(--dark-primary);
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: 10px;
}

header button:hover {
    cursor: pointer;
    background-color: var(--primary);
    color: #fff;
}

/* section -hero homepage */
section.hero-section{
    background-color: var(--dark-primary);
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 80px 0px 100px ;
}
.hero-section__title{
    font-size: 34px;
    font-weight: 900;
}
.hero-section__desc{
    color: rgba(205, 221, 221, 0.685);
}